@model IEnumerable<L01P022021CL650.Models.materias>

@{
    ViewData["Title"] = "Index";
}

<h1>Materias</h1>

<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidades_valorativas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidades_valorativas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
